<div class="segmented-control" data-mode-control>
  <a class="segment <%= mode === 'live' ? 'active' : '' %>" href="<%= topicPath(topic, 'live') %>">live thread</a>
  <a class="segment <%= mode === 'minutes' ? 'active' : '' %>" href="<%= topicPath(topic, 'minutes') %>">minutes</a>
</div>
